footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.signup_banner {
    height: 425px;
    width: 100%;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-color: #cbdee6;
    background-image: url('/assets/nationwide_hero_1024px.png');
    background-size: cover;
}

.nationwide_logo {
    display: block;
    margin: 0 auto 0 auto;
    padding: 56px 0 48px 0;
    height: 58px;
    width: 153px;
}

.banner_header {
    text-align: center;
    color: white;
}

.banner_description {
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    max-width: 640px;
}

.banner_reg_button {
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    display: block;
    margin: 32px  auto 0 auto;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 8px 36px;
}

.top_register {
    width: 100%;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.top_register h3, p {
    text-align: center;
}

.initial_register {
    width: 70px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.summary {
    width: 100%;
    margin: 0px;
    background-color: rgba(74,144, 226, 0.1) ;
    height: 250px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.summary_contents {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
    margin-right: 25px;
}

.summary_text {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.bold_text {
    font-size: 25px;
    margin: 10px;
    text-align: left;
}

.summary_img {
    height: 140px;
    margin: 25px;
}

.explanation_detail {
    width: 100%;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    height: 400px;
}

.explanation_detail h2 {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_card {
    display: flex;
    flex-direction: column;
}

.img_container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.img_card img {
    max-width: 300px;
}

.card_description {
    width: 350px;
}

.buddy_text {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(74,144, 226, 0.1) ;
}

.buddy_text p, h3 {
    text-align: center;
    width: 100%;
}

.buddy_text h3 {
    margin-top: 60px;
}

.buddy_card_section {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: rgba(74,144, 226, 0.1) ;
    height: 225px;
}

.buddy_card {
    width: 200px;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.buddy_icon {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.buddy_card p {
    font-size: 18px;
}

.banner_img {
    width: 100%;
    height: 400px;
}

.quote p {
    font-size: 25px;
}

.form {
    display: flex;
    justify-content: center;
}

.sign_up {
    width: 100%;
}

.signup_form {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.sign_up .left_column {
    width: 40%;
    margin: 20px;
}

.sign_up .left_column div {
    margin: 10px;
    margin-bottom: 20px;
    height: 80px;
}

.sign_up .right_column div {
    margin: 10px;
    margin-bottom: 20px;
    height: 80px;
}

.sign_up .right_column {
    width: 40%;
    margin: 20px;
}

.sign_up_blurb {
    text-align: center;
}

.text_input {
    display: flex;
    flex-direction: column;
}

.text_input input {
    width: 350px;
    height: 30px;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.589);
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
}

.click_submit {
    width: 175px;
    height: 50px;
    margin-bottom: 50px;
    border-radius: 7px;
    border: 0px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #4A90E2;
    color: whitesmoke;
    cursor: pointer;
}

.provide_bool {
    display: flex;
    flex-direction: column;
}

.bool {
    margin-left: 0px;
    margin-top: 15px;
    display: flex;
}

.bool input {
    margin-right: 10px;
    margin-top: 10px;
}

.false {
    margin-left: 70px;
}

.sign_section {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-top: 50px;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.158);
}

.sign_section h1 {
    text-align: center;
    color: #4A90E2
}

.provide select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

select {
    width: 60px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.80);
    height: 25px;
    background-color: rgba(196, 196, 196, 0.212);
    border-radius: 0px;
}

.additional_text {
    margin-bottom: 10px !important;
}

.footer {
    background-color: #4A90E2;
    height: 75px;
}