footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.signup_banner {
    height: 170px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    background-color: #cbdee6;
    border-bottom: 1px solid black;
}

.nationwide_logo {
    height: 120px;
    margin: 15px;
}

.top_register {
    width: 100%;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.top_register h3, p {
    text-align: center;
}

.initial_register {
    width: 70px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.summary {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: #edeeed83;
}

.summary_contents {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10px;
    margin-right: 25px;
}

.summary_img {
    height: 250px;
    margin: 25px;
}

.explanation_detail {
    width: 100%;
    padding: 0px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.explanation_detail h3 {
    text-align: center;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_card {
    display: flex;
    flex-direction: column;
}

.img_container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.img_card img {
    max-width: 300px;
}

.card_description {
    width: 350px;
}

.buddy_text {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.buddy_text p, h3 {
    text-align: center;
    width: 100%;
}

.buddy_card_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;    
}

.buddy_card {
    width: 115px;
    margin: 10px;
}

.buddy_icon {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;   
}

.buddy_icon img {
    width: 50px;
    height: 50px;
}

.buddy_card p {
    font-size: 12px;
}